@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #191765;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

hr {
  border: 1px solid #696364;
  margin-top: 20px;
}

h1 {
  color: #7d73fc;
  font-size: 48px;
  line-height: 72px;
}

h2 {
  color: #9490ff;
  font-size: 40px;
}

h3 {
  color: #fff;
  font-size: 32px;
}

input {
  margin-bottom: 24px;
}

.padding {
  padding: 25px 24px;
}

.nav-bar {
  letter-spacing: 0.03em;
}

.nav-bar > a {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

.padding-round {
  padding: 10px 12px 10px 12px;
}

.works-section h1 {
  width: 200px;
  padding: 0 24px;
  color: #9490ff;
  font-size: 40px;
}

/* headline */

.headline {
  background-image: url("./images/headline-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  letter-spacing: 0.37px;
}

.headline > div > h2 {
  color: #fff;
  font-size: 32px;
}

.intro {
  font-size: 20px;
  line-height: 28px;
  color: #c8c8d4;
}

.social-media {
  width: 200px;
}

.social-media ul {
  padding: 0;
}

.social-media li {
  list-style: none;
  display: inline-block;
}

.lists {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: start;
  letter-spacing: 0.37px;
}

.tags > ul {
  color: #fff;
  padding-left: 0;
}

.tags > ul > li {
  border-right: 1px solid #696364;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
}

.lists > div > ul {
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 24px;
  width: 123px;
}

.lists > div > ul > li:first-child {
  color: #9490ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 5px;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

/* works section */

.works-section {
  background-image: url("./images/works-section-mobile.png");
  background-size: cover;
}

.card-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.card {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 680px;
  width: 327px;
}

.card > img {
  width: 100%;
  height: 236px;
}

.card-body {
  align-items: flex-start;
  width: 327px;
}

.card-body p {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}

.tags {
  display: flex;
  margin-top: 24px;
}

button {
  padding: 12px;
  font-weight: 500;
  background-color: #7d73fc;
  margin-top: 12px;
  color: #fff;
  border: none;
}

button:enabled {
  background: #7d73fc;
}

button:focus {
  background: #5e42d7;
}

button:disabled {
  background: #2a2b33;
}

button:hover {
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.align-left {
  text-align: left;
  align-items: flex-start;
}

/* About section */

.about {
  flex-direction: column;
  letter-spacing: 0.37px;
  color: #fff;
}

.about h1 {
  margin: 0;
}

.icons {
  width: 200px;
  margin: 0 auto;
}

.intro > div > ul {
  padding-left: 0;
}

/* contact section */

.contact-section h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

.contact-section p {
  font-size: 16px;
  line-height: 24px;
  color: #f5f5ff;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.input-padding {
  padding: 15px 16px;
}

.contact-section textarea {
  width: 327px;
  height: 148px;
}

.contact-section button {
  width: 65px;
}

.email{
  color: #fff;
}

.footer > .icons > ul{
padding: 0;
}