@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #191765;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

section {
  min-height: 100%;
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
}

.nav-bar {
  padding: 25px 24px;
  letter-spacing: 0.03em;
}

.nav-bar > a {
  color: #fff;
  position: static;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

.padding-round {
  padding: 10px 12px 10px 12px;
}

/* headline */
.headline {
  top: 40px;
  background-image: url("./images/Ellipse18.svg");
  background-repeat: no-repeat;
  flex-direction: column;
  letter-spacing: 0.37px;
  min-height: 100vh;
}

.headline-ellipse {
  padding: 30px 30px;
}

.intro {
  background-image: url("./images/small_ellipse.svg");
  background-position: right top 180px;
  background-repeat: no-repeat;
  padding: 25px 24px;
  font-size: 20px;
  line-height: 28px;
  color: #c8c8d4;
}

hr {
  border: 1px solid #696364;
}

h1 {
  color: #7d73fc;
  font-size: 48px;
  line-height: 72px;
  position: static;
  /* width: 327px; */
  height: 55px;
  left: 0;
  top: 0;
}

h2 {
  color: #fff;
  font-size: 32px;
  line-height: 44px;
  height: 55px;
}

.social-media ul {
  padding: 0;
  justify-content: space-between;
}

.social-media li {
  list-style: none;
  display: inline-block;
}

.lists {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: start;
  letter-spacing: 0.37px;
}

.lists > div > ul {
  list-style-type: none;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 24px;
  width: 100px;
}

.lists > div > ul > li:first-child {
  color: #9490ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 5px;
}

.social-media {
  width: 200px;
  height: 40px;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.card {
  flex-direction: column;
}
